import lightning as L

from {{ python_package_import_name }}.data.datamodule import RandomDataModule
from {{ python_package_import_name }}.models.model import BoringModel

if __name__ == "__main__":
    dm = RandomDataModule()

    model = BoringModel()

    # Initialize a trainer
    trainer = L.Trainer(
        limit_train_batches=1,
        limit_val_batches=1,
        limit_test_batches=1,
        num_sanity_val_steps=0,
        max_epochs=10,
        enable_model_summary=False,
    )

    # Train the model ⚡
    trainer.fit(model, datamodule=dm)

    trainer.test(datamodule=dm)
