blank_issues_enabled: false
contact_links:
  - name: Ask a Question
    url: https://{{ repository_provider }}/{{ repository_namespace }}/{{ repository_name }}/discussions/new
    about: Ask and answer questions
  - name: Read the documentation
    url: https://pages.{{ repository_provider }}/{{ repository_namespace }}/{{ repository_name }}/
