[build-system]
requires = ["poetry-core>=1.0.0", "poetry-dynamic-versioning"]
build-backend = "poetry_dynamic_versioning.backend"

[project]
name = "{{ python_package_distribution_name }}"
version = "0.0.0"
requires-python = ">={{ python_version }}"
description = "{{ project_description }}"
readme = "README.md"{% if copyright_license != 'none' %}
license = { text = "{{ copyright_license }}" }{% endif %}
authors = [
    { name = "{{ author_username }}", email = "{{ author_email }}" }
]
keywords = [
    "{{ python_package_distribution_name }}"
]
dynamic = [
    "classifiers",
    "dependencies"
]

[project.urls]
homepage = {% if repository_provider == "github.com"%}"https://{{ repository_namespace }}.github.io/{{ repository_name }}/"{% else %}"https://pages.{{ repository_provider }}/{{ repository_namespace }}/{{ repository_name }}"{% endif %}
repository = "https://{{ repository_provider }}/{{ repository_namespace }}/{{ repository_name }}"
documentation = {% if repository_provider == "github.com"%}"https://{{ repository_namespace }}.github.io/{{ repository_name }}/"{% else %}"https://pages.{{ repository_provider }}/{{ repository_namespace }}/{{ repository_name }}"{% endif %}

[tool.poetry]
packages = [
    { include = "{{ python_package_import_name }}", from = "src" }
]
classifiers = [
]

[tool.poetry.dependencies]
python = "^{{ python_version }}"{% if include_sample_code %}
torch = "^2.9.0"
lightning = "^2.5.6"{% endif %}

[tool.poetry.group.dev.dependencies]
ruff = "^0.14.5"
bandit = "^1.8.6"{% if use_precommit %}
{% if precommit_tool == 'pre-commit' %}pre-commit = "^4.4.0"{% elif precommit_tool == 'prek' %}prek = "^0.2.16"{% endif %}{% endif %}
pyright = "^1.1.407"
vulture = "^2.14"
copier = "^9.10.3"
{% if include_notebooks %}ipykernel = "^6.31.0"
ipywidgets = "^8.1.8"
ipython = "^9.7.0"
jupytext = "^1.18.1"
nbconvert = "^7.16.6"{% endif %}

[tool.poetry.group.test.dependencies]
pytest = "^9.0.0"
pytest-cov = "^7.0.0"
pytest-mock = "^3.15.1"
pytest-cases = "^3.9.1"
pytest-benchmark = {extras = ["aspect","histogram"], version = "^5.2.3"}
pytest-github-actions-annotate-failures = "^0.3.0"

{% if include_docs %}[tool.poetry.group.docs.dependencies]
mkdocs = "^1.6.1"
mkdocs-material = "^9.6.23"
mkdocs-git-revision-date-localized-plugin = "^1.5.0"
mkdocs-awesome-nav = "^3.2.0"
mkdocs-git-authors-plugin = "^0.10.0"
mkapi = "^4.5.0"
markdown-callouts = "^0.4.0"
pymdown-extensions = "^10.16.1"
pygments = "^2.19.0"{% if include_notebooks %}
mkdocs-jupyter = "^0.25.1"{% endif %}{% endif %}

[tool.poetry.group.debug]
optional = true

[tool.poetry.group.debug.dependencies]
ipdb = "^0.13.9"
line_profiler = "^5.0.0"

[project.scripts]
{{ python_package_command_line_name }} = "{{ python_package_import_name }}.cli:main"

[tool.poetry-dynamic-versioning]
enable = false
vcs = "git"
style = "semver"
pattern = "default-unprefixed"

[tool.poetry-dynamic-versioning.substitution]
folders = [
  { path = "src/{{ python_package_import_name }}" }
]

[tool.poetry-dynamic-versioning.files."src/{{ python_package_import_name }}/__about__.py"]
persistent-substitution = false
initial-content = """
# file generated by poetry dynamic versioning during poetry build/install
# don't change, don't track in version control
__version__ = "0.0.0"
__version_tuple__ = (0, 0, 0)
"""

[tool.pytest.ini_options]
minversion = "8.0"
# https://code.visualstudio.com/docs/python/testing#_pytest-configuration-settings
addopts = "--doctest-glob='test_*.md' --cov=src/{{ python_package_import_name }} --cov-config=pyproject.toml"
testpaths = [
    "tests",
]

[tool.coverage.run]
branch = true
omit = [
    "tests/*",
]
source_pkgs = ["{{ python_package_import_name }}"]

[tool.coverage.report]
exclude_lines = [
    # Have to re-enable the standard pragma
    "pragma: no cover",

    # Don't complain about missing debug-only code:
    "def __repr__",
    "if self.debug:",
    "if debug:",
    "if DEBUG:",

    # Don't complain if tests don't hit defensive assertion code:
    "raise AssertionError",
    "raise NotImplementedError",

    # Don't complain if non-runnable code isn't run:
    "if 0:",
    "if False:",
    "if __name__ == .__main__.:",
]

[tool.ruff]
line-length = 120  # Must agree with Black
extend-include = ["*.ipynb"]
exclude = [
    "migrations",
    "__pycache__",
    "env",
    ".env",
    "venv",
    ".venv",
]

[tool.ruff.lint]
select = [
    "B",  # flake8-bugbear
    "C4", # flake8-comprehensions
    "D",  # pydocstyle
    "E",  # Error
    "F",  # pyflakes
    "I",  # isort
    "ISC", # flake8-implicit-str-concat
    "N",  # pep8-naming
    "PGH",  # pygrep-hooks
    "PTH", # flake8-use-pathlib
    "Q",  # flake8-quotes
    "S",  # bandit
    "SIM",  # flake8-simplify
    "TRY",  # tryceratops
    "UP",  # pyupgrade
    "W",  # Warning
    "YTT", # flake8-2020
]
extend-select = [
    "I",
]
ignore = [
    "D100",
    "D101",
    "D102",
    "D103",
    "D104",
    "D105",
    "D106",
    "D107",
    "D200",
    "D401",
    "E402",
    "E501",
    "F401",
    "TRY002", # Allow default exceptions
    "TRY003",  # Avoid specifying messages outside exception class; overly strict, especially for ValueError
]

[tool.ruff.lint.flake8-bugbear]
extend-immutable-calls = [
    "chr",
    "typer.Argument",
    "typer.Option",
]

[tool.ruff.lint.pydocstyle]
convention = "google"

[tool.ruff.lint.pycodestyle]
max-doc-length = 120
max-line-length = 120

[tool.ruff.lint.per-file-ignores]
"test*/**/*.py" = [
    "D100",
    "D101",
    "D102",
    "D103",
    "D104",
    "D105",
    "D106",
    "D107",
    "S101",  # use of "assert"
    "S102",  # use of "exec"
    "S106",  # possible hardcoded password.
    "PGH001",  # use of "eval"
]

[tool.ruff.lint.pep8-naming]
staticmethod-decorators = [
    "pydantic.validator",
    "pydantic.root_validator",
]

[tool.ruff.lint.isort]
force-sort-within-sections = true

[tool.ruff.format]
docstring-code-format = true
quote-style = "double"

[tool.bandit.assert_used]
skips = ['*_test.py', '*/test_*.py']

[tool.pyright]
pythonVersion = "{{ python_version }}"
pythonPlatform = "Linux"
include = ["src"]
reportMissingImports = true
reportMissingTypeStubs = false

[tool.pre-commit-update.yaml]
mapping = 2
sequence = 4
offset = 2

[tool.vulture]
sort_by_size = true
verbose = false
min_confidence = 100
paths = ["src"]
