# {{ project_name }}: {{ project_description }}

Welcome to {{project_name}}'s documentation!

## Get started

``` { console }
> poetry install
> {% if use_precommit %}pre-commit install && pre-commit autoupdate{% endif %}
```
