---
file_format: mystnb
kernelspec:
  name: python3
---
# {{ project_name }}: {{ project_description }}


Welcome to {{project_name}}'s documentation!

## Get started

```{code-block} console

   >> poetry install
   >> {% if use_precommit %}pre-commit install && pre-commit autoupdate{% endif %}
```


## Contents

```{toctree}
---
caption: Contents
maxdepth: 1
---
Home <self>
API Reference <autoapi/index>
{% if include_notebooks %}Notebooks <notebooks/index>{% endif %}
Modules <_modules>
```

## Indices and tables
* {ref}`genindex`
* {ref}`modindex`




```{code-cell}
:tags: [my-tag]

print("Hello world!")
```

Test code cell

```{code-cell} ipython3
a = "This is some"
b = "Python code!"
print(f"{a} {b}")
```

---

blaaaaaa

```{code-cell} ipython3
---
tags: [hide-output]
---
for i in range(20):
    print("Millhouse did not test cootie positive")
```

---

Markdown cell 1

+++ {"tags": ["my-tag"]}

Markdown cell 2, with metadata tags
