---
name: Release

on:
  release:
    types: [published]

env:
  python-version: "{{ python_version }}"
{% if 'road-runner' in github_runner %}{% set github_runner = [github_runner_ghec] %}{% endif %}
jobs:
  release:
    name: Release package
    runs-on: {{ github_runner }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0{% if github_runner_clean %}

      - name: Free Disk Space
        uses: twsl/gha-free-disk-space@v1{% endif %}

      {% raw %}- name: Set up Python ${{ env.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ env.python-version }}{% endraw %}{% if package_manager == 'poetry' %}

      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          virtualenvs-create: true
          virtualenvs-in-project: true
          virtualenvs-path: .venv

      - name: Add poetry to path
        run: echo "$(poetry env info --path)/bin" >> $GITHUB_PATH

      - name: Set up cache
        uses: actions/cache@v5
        id: cached-poetry-dependencies
        {% raw %}with:
          path: .venv
          key: venv-${{ runner.os }}-${{ matrix.python-version }}-${{ hashFiles('poetry.lock') }}
          restore-keys: venv-${{ runner.os }}-${{ matrix.python-version }}-{% endraw %}

      - name: Install dependencies
        run: poetry install --no-interaction --all-extras

      - name: Check poetry
        run: |
          poetry check

      - name: Build
        run: |
          poetry build{% elif package_manager == 'uv'%}

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          cache-dependency-glob: "**/uv.lock"

      - name: Install dependencies
        run: uv sync --all-groups --all-extras --frozen

      - name: Build dependencies
        run: uv build{%endif %}

      - name: Upload artifacts
        uses: actions/upload-artifact@v6
        {% raw %}with:
          name: build-${{ github.sha }}
          path: dist/{% endraw %}

      - name: Show
        run: ls -l dist/

      {% raw %}# - name: Publish
      #   run: |
      #     poetry publish -u "__token__" -p ${{ secrets.PYPI_API_TOKEN }}{% endraw %}

  upload-packages:
    runs-on: {{ github_runner }}
    permissions: write-all
    needs: release
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Download artifacts
        uses: actions/download-artifact@v7
        with:
          {% raw %}name: build-${{ github.sha }}
          path: dist/{% endraw %}

      - name: Upload to release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.event.ref, 'refs/tags') || github.event_name == 'release'
        with:
          files: dist/*
